/*#region Theme*/
/*#endregion*/
*,
html {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  width: 100%;
}

body .Settings {
  position: fixed;
  min-height: 80%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 1%;
  margin: 1% 1% 1%;
  width: 18%;
  background-color: #99a799;
}

body .Settings .ThemSelection {
  position: relative;
  margin-top: 3vh;
  height: 20rem;
  border-radius: 30px;
  background-color: #adc2a9;
  overflow: hidden;
}

body .Settings .ThemSelection .chosen-value,
body .Settings .ThemSelection .value-list {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

body .Settings .ThemSelection .chosen-value {
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 4px;
  height: 20rem;
  font-size: 1.1rem;
  padding: 1rem;
  background-color: #adc2a9;
  border: 3px solid transparent;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

body .Settings .ThemSelection .chosen-value:hover {
  background-color: #d3e4cd;
  cursor: pointer;
}

body .Settings .ThemSelection .chosen-value:focus, body .Settings .ThemSelection .chosen-value.open {
  height: 4rem;
  outline: 0;
  background-color: #adc2a9;
  color: #000;
  border-radius: 30px 30px 0px 0px;
}

body .Settings .ThemSelection .value-list {
  border-radius: 0px 0px 30px 30px;
  list-style: none;
  -webkit-box-shadow: 0px 5px 8px 0px #99a799;
          box-shadow: 0px 5px 8px 0px #99a799;
  overflow: auto;
  height: 0;
  overflow-y: scroll;
  height: 16rem;
}

body .Settings .ThemSelection .value-list li {
  position: relative;
  height: 4rem;
  background-color: #adc2a9;
  padding: 1rem;
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  opacity: 1;
}

body .Settings .ThemSelection .value-list li:hover {
  background-color: #d3e4cd;
}

body .Settings .ThemSelection .value-list li.closed {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  opacity: 0;
}

body .Settings .ThemSelection .Player .box {
  background-color: #adc2a9;
}

body .Settings .ThemSelection .Player .Themes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .Settings .ThemSelection .Player .MusicControl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .Settings .ThemSelection ::-webkit-scrollbar {
  width: 5px;
}

body .Settings .ThemSelection ::-webkit-scrollbar-track {
  background-color: #adc2a9;
}

body .Settings .ThemSelection ::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0px 0px 42px 2px #99a799;
          box-shadow: inset 0px 0px 42px 2px #99a799;
  background-clip: padding-box;
  border-radius: 30px 0px 0px 30px;
}

body .Settings .Player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
}

body .Settings .Player i {
  vertical-align: middle;
  font-size: 25px;
  mix-blend-mode: normal;
}

body .Settings .Player .btn {
  height: 55px;
  padding: 0px 10px;
  border-radius: 20px;
  background-color: #adc2a9;
  cursor: pointer;
  margin: 0;
  font-size: 16px;
  letter-spacing: 2px;
  overflow: hidden;
}

body .Settings .Player .btn:hover {
  background-color: #d3e4cd;
}

body .Settings .Player .Themes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .Settings .Player .Themes .Save {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

body .Settings .Player .Themes .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  padding: 0px 20px;
}

body .Settings .MusicControl {
  width: 100%;
  background-color: #adc2a9;
  border-radius: 30px;
  margin-top: 15px;
  padding: 10px 10px;
}

body .Settings .MusicControl i {
  vertical-align: middle;
  font-size: 25px;
  width: 10%;
  mix-blend-mode: normal;
}

body .Settings .MusicControl input {
  vertical-align: middle;
  height: 2px;
  width: 80%;
  margin-left: 12px;
  border-radius: 10px;
  outline: none;
  opacity: 0.5;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  -webkit-transition: 0.2s;
  -webkit-appearance: none;
}

body .Settings .MusicControl input:hover {
  opacity: 1;
}

body .Settings .MusicControl input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: #99a799;
  border-radius: 50%;
  cursor: pointer;
}

body .Settings .MusicControl input::-moz-range-thumb {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */